.cell {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: thin dashed white;
}

.cell.active {
  background-color: cornflowerblue;
}

.cell.selectable {
  background-color: green;
}

.cell:hover {
  background-color: #999;
}
